*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    min-height: 100vh;
}

/*HEADER */

.headerC{
    background-color: rgba(100, 22, 22, 0.986);
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}
.navC .link{
    color: rgb(248, 185, 185);;
    text-decoration: none;
}
.navC .link:hover{
    color: rgb(224, 150, 137);
}

.headerC .boton{
    background: none;
    border: none;
    color: rgb(248, 185, 185);
    text-align: center;
    font-size: 200%;
    display: none;
    margin: 2%;
}

.fake{
    margin: 1vw;
    width: 3em;
}

.navC-lista{
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}


.navC-item {
    margin: 0 5vw;
    text-transform: uppercase;
    color: rgb(248, 185, 185);
}

/* HEADER*/



/*cambio de tamaño en la tablet MEDIAQUARIES*/


/*Fin de tablet*/

main{
    background-color: beige;
    width: 100%;

}

footer{
    width: 100%;
    justify-content: center;
    background-color: rgba(165, 42, 42, 0.521);
    font-size: larger;
    text-align: center;
}

.logo-footer{
        margin: 1vw;
        width: 5em;
}

.Redes .RSS {
    text-decoration: none;
}

/*Index pagina*/

/*Index pagina*/

#Index .contenedorI .slide{
    flex-wrap: wrap;
    gap: 15px;
    padding: 10vh 3%;
    padding-bottom: 5vh;
} 
#Index .contenedorI .slide .slideproject  p{
        font-size: 5vw;
        color: #272424;
        font-family: sans-serif;
        width: 50%;

    }
#Index .contenedorI .slide .slideproject .BotonConsulta{
  
    display: inline-block;
    background: #5f3a3a;
    color: #ffffff;
    font-size: 2vw;
    margin-left: 2vw;
    padding: 4vh 3vw;
    border-radius: 5vw;
    border: 2% solid #5f3a3a;
    font-family: sans-serif;
    text-decoration: none;
}
#Index .contenedorI .slide .slideproject .BotonConsulta:hover{
    background: #a16e6e;
    border: 2% solid #b88d8d;
    color: #ffffff;
}

#Index .contenedorI{
    display: none;
}

#Index .contenedorI.active{
    display: block;
}

#Index .contenedorI:nth-child(1) .slide{
    background: url(./imagenes/judge.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}

#Index .contenedorI:nth-child(2) .slide{
    background: url(./imagenes/Abogado-Caba.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}

#Index .contenedorI:nth-child(3) .slide{
    background: url(./imagenes/Slide\ Pagina\ ABogados.png);
    background-size:cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
}
#Index .contenedorI .slide .slideproject{
        animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent{0%
    {
        opacity: 0;
        transform: translateX(-50vw);
    }
    }

.Servicios{
    font-family: 'Roboto Condensed', sans-serif;    
    text-align: center;
    color: #5c3a3a;
    font-size: 300%;
}
.acordeon{
    font-weight: bolder;
    background-color: beige;
    color: rgb(90, 62, 62);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 30px;
    transition: 0.4s;
  }
  
  .active, .acordeon:hover {
    background-color: rgb(218, 136, 136);
  }
  
  .acordeon:after {
    content: '\002B';
    color: rgb(105, 62, 62);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .listasS{
    list-style-type: circle;
  }

  .contenido {  
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 30px;
    padding: 0 18px;
    background-color: beige;
    margin-left: 2%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
.botonesS{
   margin: 2%; 
}
.BotonServicios{
    background: #be7b7b;
    color: #ffffff;
    font-size: 30px;
    padding: 1% 1vw;
    border: 4% solid #ffffff;
    font-family: sans-serif;
    text-decoration: none;
}
.BotonServicios:hover{
    background-color: #723c3c;;
}
.BotonConsultor {
    background: #855757;
    color: #ffffff;
    font-size: 30px;
    padding: 1% 1vw;
    border: 4% solid #ffffff;
    font-family: sans-serif;
    text-decoration: none;
}
.BotonConsultor:hover{
    background-color: #523d3d;
}

/*Pagina Index*/
/*Pagina servicios*/
.TituloS{
    text-align: center;
    padding-top: 3%;

}
.categorias{
    padding: 4%;
    display: flex;
    border-style:groove;
}

.ImagenesS{
    width: 40%;
 }
.ContenidoS{
    text-align: justify;
    width: 70%;
    padding-bottom: 3%;
}

.Resaltado{
    text-align: center;
    font-weight: bold;
    font-style: oblique;  
    width: 100%;
    padding-bottom: 3%;
}
.BotonPS{
    background: #855757;
    color: #ffffff;
    margin-top: 10%;
    font-size: 20px;
    padding: 2%;
    border: 4% solid #ffffff;
    font-family: sans-serif;
    text-decoration: none;
    text-transform: uppercase;
}

.BotonPS:hover{
    background: #684f2f;
    color: #ffffff;
}
/*FIn pagina servicios*/

/*Pagina contactate*/
.container{
    background-color: beige;
    width: 100%;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);

}

.container .mapa {
    grid-template-columns: 3/4;
    margin: 2vh 0 2vh;
    padding-left: 2%;
    font-size: 120%;
 
}
.mapa iframe{
    width: 95%;
   }
.Formulario{
    margin: 2vh 0 2vh;
    padding-left: 2%;
    width: 100%;
}

form {
    font-size: 120%;
}

.Botones{
    width: 5vw;
    height: 7vh;
}
#textarea{
    resize: none;
}
textarea,
input, select {
    width: 80%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid #191a1f;
    margin-top: 5px;
}
/*Pagina Contactate*/
/*PAGINA SOBRE NOSOTROS*/
