
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="shortcut icon" href="./imagenes/fake.jpg" type="image/x-icon">
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="Mediaquaries.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b3d5f69751.js" crossorigin="anonymous"></script>
   
</head>
<body class="body-home tbody">
    <header class="headerC">
        <!--EN el JS-->

    </header>
    <main>
        <div id="appDN">
            <h2 id="HNoti">NOTICIAS</h2> 
            <div class="Novedades">
                <div class="filtro">
                    <br>
                    <p id="PNoti"> Seleccione parametros de busqueda <br><br>
                        <label id="Tema">Tema</label> <br>
                        <select v-model= "Tema" name="Tema" id="select" >
                            <option  id="Tema" v-for="tema of Temas" > {{tema}}</option>
                        </select> <br>
                        <button class="btn btn-primary"  id="buscarN" v-on:click= 'redireccionar();filtro() '>Buscar</button> 
                    </p>
                    <br>
                </div>
                
                <article id="noticia-list">
                    <div name="txtImagen" id="txtImagenes">
                    </div> 
                    <span  name="txtTema" id="txtTemas"> </span>
                    <br>  
                    <h1 name="txtTitulo" id="txtTitulos"> </h1>
                    <br>
                    <p name="txtDescripción" id="txtDescripciónes"></p> 
                    <br>
                </article>
            </div> 
            
        </div>

    </main>

    <footer id="FooterP">
          <!-- EN el JS-->
    </footer>

       
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
       
        <script src="/jsF/Usuales.js"></script> 
        <script src="/jsF/DetalleNoticia.js"></script>
        <script defer src="/jsF/navegacion.js"></script> 
        
</body>
    
</html>