
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="shortcut icon" href="./imagenes/fake.jpg" type="image/x-icon">
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="Mediaquaries.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b3d5f69751.js" crossorigin="anonymous"></script>
   
</head>
<body class="body-home">
    <header class="headerC">
        <!--EN el JS-->

    </header>
    <main>
        <div class="Novedades">
            <div class="filtro">
                <h3>Noticias</h3>
                <p>  Filtro</p>
                <label for="">Tema:</label>
                <input v-model="calories" type="text" id="calories">         
                
                <button class="btn btn-primary" v-on:click="filtro() ">Buscar</button>
                <br>
            </div>
            <div id="appN" class="contenedorN">
                <div v-for="noticias of Novedades" class="tarjeta">
                    <img :src="noticias.imagen" alt="noticias.Titulo">
                    <div class="cuerpo">
                        <h2>{{noticias.id}} - {{noticias.Tema}}</h2>
                        <br>
                        <p>{{noticias.Titulo}}</p>
                        <br>
                        <p>{{noticias.Descripcion}}</p>
                    </div>
                </div>   
            </div>
        </div>    
    <br>
    </main>
        <footer id="FooterP">
          <!-- EN el JS-->
        </footer>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./Usuales.js"></script>
        <script defer src="navegacion.js"></script>
</body>
    
</html>