
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticias</title>
    <link rel="shortcut icon" href="./imagenes/fake.jpg" type="image/x-icon">
    <link rel="stylesheet" href="estilos.css">
    <link rel="stylesheet" href="Mediaquaries.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b3d5f69751.js" crossorigin="anonymous"></script>
   
</head>
<body class="body-home">
    <header class="headerC">
        <!--EN el JS-->

    </header>
    <main>
        <div id="appN" >  
            <h2 id="HNoti">NOTICIAS</h3> 
            <div class="Novedades">
                <div class="filtro">
                    <br>
                    <p id="PNoti"> Seleccione parametros de busqueda <br><br>
                        <label id="NTema">Tema</label> <br>
                        <select v-model="Tema" name="Tema" id="selectN" >
                            <option  id="Tema" v-for="Tema of Temas" > {{Tema}}</option>
                        </select> <br>
                        <button class="btn btn-primary"  id="buscarN" v-on:click="filtro()">Buscar</button> 
                    </p><br>
                </div>
            
                <div class="contenedorN">
                    <div v-for="noticias of Novedades" class="tarjeta">
                        <img :src="noticias.imagen" alt="noticias.Titulo">
                        <div class="cuerpo">
                            <h3 id="H3Noticia"> {{noticias.Tema}}</h2>
                            <br>
                            <p id="TituloNoticia">{{noticias.Titulo}}</p>
                            <br>
                            <p id="DescripcionN">{{noticias.Descripcion}}</p>
                        </div>
                    </div>   
                </div>
            </div>  
        </div>   
   
    </main>
        <footer id="FooterP">
          <!-- EN el JS-->
        </footer>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./Usuales.js"></script>
        <script defer src="navegacion.js"></script>
</body>
    
</html>